:root{
    --main-text-color:#757575;
    --title-color:#212121;
    --hero-color: #FFFFFF;
    --accent-color:#2196F3;

}
body{
    color: var(--title-color);
    font-family: roboto, sans-serif;
}
.header {
    border-bottom: 1px solid #ECECEC;
}
.logo-link{
    color:var(--accent-color);
    font-family:Raleway, serif;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-accent{
    color:var(--title-color);
    text-decoration: none;
}
.list{
    color:var(--title-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.item .current{
    color: var(--accent-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.item{
    color: var(--title-color);
    color:var(--title-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact-item-mail{
    color:var(--main-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact-item-tel{
    color:var(--main-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.list .item:hover,
.list .item:focus{
    color: var(--accent-color);
}
.item.current{
    color:var(-accent-color);
}
/* Hero */

.hero-section{
    color: var(--hero-color);
    background-color: #2F303A;
}
.hero-text{
    font-family: 'Roboto';
    font-size: 44px;
    line-height: 1.36;

}
/* Section */
.section-title-hidden{
    visibility: hidden;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;  
    letter-spacing: 0.03em;
}
/* Features */
.features-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    color:var(--title-color);
}

.section-title{
    color:var(--title-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}

.futures-list .features-title{
    color: var(--title-color);
}
.features-text{
    color: #757575;
}
/* works-list */
.works-list{
    color: var(--title-color);
}
/* team */
.team-item-job{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--main-text-color);
}
/* button */
.hero-section-btn{
    color: var(--hero-color);
    background-color: #2196F3;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.87;
}
.section-team{
    background-color:#F5F4FA;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    }
    
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/* footer */
.footer{
    background-color: #2F303A;;
}
.logo-color{
    color: var(--hero-color);
}
.contacts{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--hero-color)
}
.contact-nav-item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--hero-color);

    color: var(--hero-color);
}
.contacts-list-unit,{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

/* portfolio */
.portfolio-link{
    color: var(--accent-color);
}
/* portfoilio-cotacts */
.contacts-list-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
}
.contacts-portfolio-link{
    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--accent-color)
}
/* buttons */
.btn{
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}
.btn-logo-type{
    background-color: var(--accent-color);
    font-size: 16px;
    line-height: 1.62;
    color: var(--hero-color);
    text-align: center;
    letter-spacing: 0.03em;
}
.porfolio-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
    
}
.portfolio-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);

}