html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --hero-color: #ffffff;
  --accent-color: #2196f3;
}
body {
  margin: 0;
  color: var(--title-color);
  font-family: roboto, sans-serif;
}
.container {
  display: flex;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* header page */
.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.navigation {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.logo-link {
  max-width: 145px;
  display: flex;
  padding-bottom: 25px;
  padding-top: 24px;
  color: var(--accent-color);
  font-family: Raleway, serif;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-accent {
  color: var(--title-color);
  text-decoration: none;
}
.header-list {
  display: flex;
}
.header-list .header-item:hover:hover,
.header-list .header-item:focus:focus {
  color: var(--accent-color);
}
.header-item {
  color: var(--accent-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-right: 50px;
}
.header-item-portfolio {
  color: var(--main-text-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-right: 50px;
}
.header-item-contacts {
  color: var(--main-text-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
. .header-item {
  display: inline-flex;
  padding-right: 0px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
  color: var(--title-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.contact-item {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}
.contact-item:last-child {
  margin: 0;
}
.contact-item-mail {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-item-mail:hover,
.contact-item-mail:focus {
  color: var(--accent-color);
}
.contact-item-tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contact-item-tel:hover,
.contact-item-tel:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-section {
  color: var(--hero-color);
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 280px;
  text-align: center;
  height: 600px;
  margin-bottom: 94px;
}
.hero-title {
  margin: 0 auto;
  max-width: 696px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.container-hero {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* button */
.hero-section-btn {
  color: var(--hero-color);
  background-color: #2196f3;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  border: none;
  margin-top: 40px;
  margin-bottom: 210px;
  cursor: pointer;
  text-align: center;
}
/* Section */
.section-title-hidden {
  visibility: hidden;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Features */
.container-features {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.features-list {
  display: flex;
}
.section {
  margin-bottom: 94px;
}
.features-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.features-item {
  align-items: center;
  justify-content: center;
}
.features-title:last-child {
  margin-right: 0;
}

.features-title {
  color: var(--title-color);
}
.features-text {
  color: #757575;
  max-width: 270px;
  line-height: 1.7;
  max-height: 75px;
  margin-right: 30px;
}
/* works-list */
.container-works {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.works-list {
  color: var(--title-color);
  display: flex;
  list-style: none;
}
.works-item {
  margin-right: 30px;
}
.section-title {
  color: var(--title-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}
/* team */
.container-team {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.team-list {
  display: flex;
}
.team-item-job {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-text-color);
}

.section-team {
  background-color: #f5f4fa;
  margin-bottom: 94px;
}
ul,
h1,
h2,
h3,
p {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.logo-link {
  align-items: center;
}
.logo-color {
  color: var(--hero-color);
}
.contacts-list {
  padding: 0;
  flex-direction: column;
}
.contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-color);
}
.contact-nav-item {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--hero-color);
}
.contact-nav-item:hover,
.contact-nav-item:focus {
  color: var(--accent-color);
}
.contacts-list-unit {
  margin-bottom: 9px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.contact-list-unit:last-child {
  margin-bottom: 0;
}
/* portfolio */
.portfolio-link {
  color: var(--accent-color);
}
.contacts-list-item:last-child {
  margin-right: 0;
}
/* portfoilio-cotacts */
.contacts-portfolio-list {
  display: inline-flex;
}

.contacts-list-item,
.header-portfolio-item {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}
.contacts-list-item:last-child {
  margin-right: 0;
}

.header-portfolio-contacts {
  display: flex;
}
.portfolio-list-buttons {
  justify-content: center;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}

.contacts-list-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.contacts-list-contacts {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-right: 331px;
}
.contacts-list-mail {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.contacts-list-tel {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.link {
  text-decoration: none;
}

.logo-link {
  margin-right: 93px;
  display: flex;
}
.contacts-portfolio-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* buttons */
.portfolio-list-buttons {
  display: flex;
  flex-wrap: wrap;
}
.btn {
  border: none;
  border-radius: 4px;
  padding: 5.94px 22px;
  display: flex;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  margin-right: 8px;
  cursor: pointer;
}
.btn-logo-type {
  border: none;
  border-radius: 4px;
  padding: 5.94px 22px;
  margin-right: 8px;
  display: flex;
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.62;
  color: var(--hero-color);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.porfolio-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.portfolio-text {
  margin: 0 auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* Portfolio images */
.portfolion-text-hidden {
  visibility: hidden;
}
.portfolio-list-images {
  margin-right: -30px;
  display: flex;
  flex-wrap: wrap;
}
